.container {
  max-width: 1200px;
  margin: 0 auto;
}
.card-container {
  background: linear-gradient(90deg, #ee9ca7, #ffdde1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.145);
}
@media screen and (max-width: 720px) {
  .card-container {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;

    background-color: pink;
  }
}
